---
import BlogItem from "../../components/BlogItem.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import { blogs } from "../../lib/data/blogs";
import { border } from "../../lib/utils";
---

<Layout title="Blog Posts" description="ushira.com">
	<Title>Blog Posts</Title>
	<div class="flex flex-col w-full">
		{blogs.map((blog, index) => <BlogItem blog={blog} class={`border-border ${border(index, blogs.length)}`} />)}
	</div>
</Layout>
