---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import BlogItem from "../components/BlogItem.astro";
import { type blogType } from "../components/BlogItem.astro";

const blogs: blogType[] = [
	{
		title: "Bitnami Sealed Secrets + Automating through CI",
		tags: ["GitOps", "ArgoCD", "Terrafrom", "Kubernetes", "CI/CD"],
	},
	{
		title: "AWS Load Balancers for Kubernetes + Setup",
		tags: ["AWS", "Load Balancing", "Terrafrom", "Kubernetes"],
	},
	{
		title: "GitOps for Kuberenetes with ArgoCD",
		tags: ["GitOps", "ArgoCD", "Terrafrom", "Kubernetes", "CI/CD"],
	},
	{
		title: "Automated Semantic Versioning with CI",
		link: "https://medium.com/@ushiradineth/automated-semantic-versioning-with-ci-7a331ee4e22f",
		date: new Date(2024, 2 - 1, 3),
		tags: ["GitFlow", "Git", "Semantic Versioning", "Bash", "CI/CD"],
	},
];

function border(index: number) {
	if (index !== blogs.length - 1) {
		return " border-b ";
	}

	return "";
}
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col gap-4 xl:w-[1000px] md:w-[700px]">
		<Title>Blog</Title>
		<div class="flex flex-col gap-4 md:gap-0">
			{
				blogs.map((blog, index) => (
					<div class={`${border(index)}`}>
						<BlogItem blog={blog} />
					</div>
				))
			}
		</div>
	</main>
</Layout>
