---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import BlogItem from "../components/BlogItem.astro";
import { border } from "../lib/utils.ts";
import { blogs } from "../lib/data";
---

<Layout title="Blog Posts" description="ushira.com">
	<main class="flex flex-col gap-4 xl:w-[1000px] md:w-[700px]">
		<Title>Blog Posts</Title>
		<div class="flex flex-col group/main">
			{
				blogs.map((blog, index) => (
					<div
						class={`${border(
							index,
							blogs.length,
						)} py-2 md:py-0 border-muted border-dashed group-hover/main:border-background transition-all duration-500`}>
						<BlogItem blog={blog} />
					</div>
				))
			}
		</div>
	</main>
</Layout>
