---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import List from "../components/List.astro";
import BlogItem from "../components/BlogItem.astro";
import { type blogType } from "../components/BlogItem.astro";

const blogs: blogType[] = [
	{
		title: "GitOps for Kuberenetes with ArgoCD",
		tags: ["GitOps", "ArgoCD", "Terrafrom", "CI/CD"],
	},
	{
		title: "Automated Semantic Versioning with CI",
		link: "https://medium.com/@ushiradineth/automated-semantic-versioning-with-ci-7a331ee4e22f",
		date: new Date(2024, 2 - 1, 3),
		tags: ["GitFlow", "Git", "Semantic Versioning", "Bash", "CI/CD"],
	},
];
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col gap-8 min-w-[50%] xl:w-[980px] md:w-[700px] sm:w-[300px]">
		<Title>Blog</Title>
		<div class="flex flex-col gap-2">
			<p>I will be writing blog posts about these topics soon.</p>
			<List>
				<li>AWS Load Balancers for Kubernetes + Setup</li>
				<li>Bitnami Sealed Secrets</li>
			</List>
		</div>

		{blogs.map((blog) => <BlogItem blog={blog} />)}
	</main>
</Layout>
