---
import BlogItem from "../components/BlogItem.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import { blogs } from "../lib/data.ts";
import { border } from "../lib/utils.ts";
---

<Layout title="Blog Posts" description="ushira.com">
	<Title>Blog Posts</Title>
	<div class="group/main flex flex-col w-full">
		{
			blogs.map((blog, index) => (
				<div
					class={`${border(
						index,
						blogs.length,
					)} border-border w-full transition-all duration-500 group-hover/main:border-transparent`}>
					<BlogItem blog={blog} />
				</div>
			))
		}
	</div>
</Layout>
