---
import { Image } from "astro:assets";
import ImageGallery from "../components/ImageGallery.astro";
import SocialCard from "../components/SocialCard.astro";
import avatar from "../images/self.png";
import Layout from "../layouts/Layout.astro";
import { socials } from "../lib/data/socials";
import { images } from "../lib/data/images";
---

<Layout title="Ushira Dineth" description="ushira.com">
	<Image
		class="h-20 w-20 rounded-full object-cover drop-shadow-xl transition-all duration-500 group-hover:scale-110 md:hidden"
		src={avatar}
		alt={"Ushira Dineth"}
	/>

	<div class="flex flex-col-reverse gap-8 md:flex-row md:gap-60">
		<span class="flex flex-col gap-2">
			<p>
				I'm a full stack software engineer focused on building products with extra attention to detail from UI/UX to Infrastructure and
				everything in between.
			</p>
			<p>I have taken part in multiple project learning and understanding how software is built from end to end.</p>
			<p>Currently, I work with TypeScript, NextJS, Terraform and Kubernetes.</p>
			<p>I'm currently learning Go!</p>
		</span>
		<Image src={avatar} alt={"Ushira Dineth"} class={"hidden h-52 w-52 rounded-lg md:block"} />
	</div>

	<span class="ml-auto flex">
		<ImageGallery images={images} />
	</span>

	<div class="flex flex-col gap-4">
		<p>Below are the other places you can find me;</p>
		<div class="grid h-full w-full grid-cols-1 justify-between gap-2 md:grid-cols-3">
			{socials.map((social) => <SocialCard social={social} />)}
		</div>
	</div>
</Layout>
