---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import { Image } from "astro:assets";
import { images, socials } from "../lib/data";
import ImageGallery from "../components/ImageGallery.astro";
import SocialCard from "../components/SocialCard.astro";

import self from "../images/self.png";
---

<Layout title="Hey, I'm Ushira 👋" description="ushira.com">
	<main class="flex flex-col gap-8 min-w-[50%]">
		<Title>Hey, I'm Ushira 👋</Title>
		<div class="flex gap-60">
			<span class="flex flex-col gap-2">
				<p>
					I'm a full stack software engineer focused on building products with extra attention to detail from UI/UX to Infrastructure and everything in between.
				</p>
				<p>I have taken part in multiple project learning and understanding how software is built from end to end.</p>
				<p>Currently, I work with TypeScript, NextJS, Terraform and Kuberentes.</p>
				<p>I'm currently learning Go!</p>
			</span>
			<Image src={self} alt={"Ushira Dineth"} class={"rounded-lg h-52 w-52"} />
		</div>
		<span class="flex ml-auto">
			<ImageGallery images={images} />
		</span>

		<p>Below are the other places you can find me;</p>

		<div class="grid grid-cols-3 justify-between gap-2 h-fit">
			{socials.map((social) => <SocialCard social={social} />)}
		</div>
	</main>
</Layout>
