---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/roboto-mono";
import { Icon } from "astro-icon";
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col items-center justify-center h-screen bg-[#13151a]">
		<h1 class="text-white text-lg font-roboto">Coming soon</h1>
		<div class="flex gap-2">
			<a href="https://www.github.com/ushiradineth" class="h-6 w-6 text-white">
				<Icon name="mdi:github" />
			</a>
			<a href="https://www.linkedin.com/in/ushiradineth" class="h-6 w-6 text-white">
				<Icon name="mdi:linkedin" />
			</a>
		</div>
	</main>
</Layout>
