---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col gap-8 min-w-[50%] xl:w-[980px] md:w-[700px] sm:w-[300px]">
		<!-- temporary -->
		<Title>Hey, I'm Ushira 👋</Title>
		<p>
			Full Stack Engineer focused on building products with extra attention to detail from UI/UX to Infrastructure and everything in
			between.
		</p>
		<p>
			As a Full Stack Software Engineer, I have successfully taken part in multiple project learning and understanding how software is built
			from end to end. Currently, I work mostly with TypeScript, NextJS, Terraform and Kuberentes. I have over an year of experience in
			working with client projects.
		</p>
		<div class="grid grid-flow-row grid-cols-3 gap-4">
			{
				new Array(12).fill(0).map((_, index) => {
					return <img class="block rounded-sm object-cover w-full h-full" src={`/${index + 1}.jpeg`} alt="" />;
				})
			}
		</div>
	</main>
</Layout>
