---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import { Image } from "astro:assets";
import { images, socials } from "../lib/data";
import ImageGallery from "../components/ImageGallery.astro";
import SocialCard from "../components/SocialCard.astro";

import self from "../images/self.png";
---

<Layout title="Hey, I'm Ushira 👋" description="ushira.com">
	<main class="flex flex-col gap-8 min-w-[50%]">
		<!-- temporary -->
		<Title>Hey, I'm Ushira 👋</Title>
		<p>
			Full Stack Engineer focused on building products with extra attention to detail from UI/UX to Infrastructure and everything in
			between.
		</p>
		<p>
			As a Full Stack Software Engineer, I have successfully taken part in multiple project learning and understanding how software is built
			from end to end. Currently, I work mostly with TypeScript, NextJS, Terraform and Kuberentes. I have over an year of experience in
			working with client projects.
		</p>

		<div class="grid grid-cols-3 justify-between gap-2 h-fit">
			{socials.map((social) => <SocialCard social={social} />)}
		</div>
	</main>
</Layout>
