---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Project from "../components/Project.astro";
import { border } from "../lib/utils.ts";
import { projects } from "../lib/data";
---

<Layout title="Projects" description="ushira.com">
	<main class="flex flex-col min-w-[50%]">
		<Title>Projects</Title>
		{
			projects.map((project, index) => (
				<div class={`${border(index, projects.length)} border-muted border-dashed py-8`}>
					<Project project={project} />
				</div>
			))
		}
	</main>
</Layout>
