---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Project from "../components/Project.astro";
import { border } from "./blog.astro";

export type Project = {
	title: string;
	period: string;
	designation: string;
	technologies: string[];
	description: string;
	links: {
		logo: string;
		href: string;
	}[];
};

const projects: Project[] = [
	{
		title: "Hello Tiger",
		period: "September 2023 - January 2023",
		designation: "Surge Global",
		technologies: [
			"Terraform",
			"AWS",
			"Kubernetes",
			"Docker",
			"Keycloak",
			"PostgreSQL",
			"Prometheus",
			"Grafana",
			"Jaeger",
			"Istio",
			"Kiali",
		],
		description:
			"A faster, safer, and hassle-free dating app prioritizing user satisfaction and safety for a top-notch online dating experience.",
		links: [
			{ logo: "ion:logo-apple", href: "https//:apps.apple.com/lk/app/hello-tiger-dating-app-chat/id1575544065" },
			{ logo: "ion:logo-android", href: "https//:play.google.com/store/apps/details?id=com.appello.hellotiger&hl=en" },
		],
	},
	{
		title: "Studyrooms",
		period: "March 2023 - August 2023",
		designation: "Surge Global",
		technologies: ["TypeScript", "NextJS", "NestJS", "GraphQL", "MongoDB", "Terraform", "AWS", "Kubernetes", "Keycloak", "Docker", "Jest"],
		description:
			"An online tuition platform that provides a wide variety of courses and access to skilled tutors, catering to a diverse range of learners.",
		links: [
			{
				logo: "mdi:web",
				href: "https://studyrooms.com",
			},
		],
	},
	{
		title: "SubM",
		period: "March 2023 - August 2023",
		designation: "University",
		technologies: [
			"TypeScript",
			"NextJS",
			"Expo",
			"React Native",
			"Turborepo",
			"PostgreSQL",
			"TailwindCSS",
			"Prisma",
			"tRPC",
			"React Mail",
			"Vercel",
		],
		description: "A Subscription management platform for businesses and users, connecting subscriptions, consumers, and providers.",
		links: [
			{ logo: "ion:logo-android", href: "https://github.com/ushiradineth/subapp/releases" },
			{ logo: "mdi:web", href: "https://subm.ushira.com" },
			{ logo: "mdi:github", href: "https://github.com/ushiradineth/subm" },
		],
	},
	{
		title: "Clonegram",
		period: "December 2022 - February 2023",
		designation: "Personal",
		technologies: ["TypeScript", "NextJS", "TailwindCSS", "Prisma", "tRPC", "Vercel"],
		description:
			"A website replicating Instagram built with TypeScript, NextJS, Prisma. Website hosted on Vercel. Database and Storage hosted on Supabase.",
		links: [
			{ logo: "mdi:web", href: "https://clonegram.ushira.com" },
			{ logo: "mdi:github", href: "https://github.com/ushiradineth/clonegram" },
		],
	},
	{
		title: "Celiao",
		period: "December 2022 - February 2023",
		designation: "University",
		technologies: ["Java", "Android Studio", "Firebase", "Javax Mail"],
		description: "A Vehicle Rental Application with User, Booking and other management systems.",
		links: [{ logo: "mdi:github", href: "https://github.com/ushiradineth/carApp" }],
	},
	{
		title: "Social Tracker",
		period: "December 2022 - February 2023",
		designation: "Personal",
		technologies: ["Python", "Selenium", "Tweepy (Twitter API)"],
		description: "A Script that scrapes information from specific social media sites and post tweets as updates on Twitter.",
		links: [{ logo: "mdi:github", href: "https://github.com/ushiradineth/socialmedia-bot" }],
	},
	{
		title: "Portrait Website",
		period: "December 2022 - February 2023",
		designation: "University",
		technologies: ["PHP", "XAMPP", "MySQL"],
		description: "A Website with login, Post and User management similar to Instagram.",
		links: [{ logo: "mdi:github", href: "https://github.com/ushiradineth/portraitWebsite" }],
	},
	{
		title: "Twitter Messenger",
		period: "December 2022 - February 2023",
		designation: "Personal",
		technologies: ["JavaScript", "Twitter API", "Google API"],
		description: "A Script which takes user input from a Google form to create anonymous tweets.",
		links: [{ logo: "mdi:github", href: "https://github.com/ushiradineth/twittermsgbot" }],
	},
];
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col min-w-[50%]">
		<Title>Projects</Title>
		{
			projects.map((project, index) => (
				<div class={`${border(index, projects.length)} border-muted border-dashed py-8`}>
					<Project project={project} />
				</div>
			))
		}
	</main>
</Layout>
