---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Project from "../components/Project.astro";
import { border } from "../lib/utils.ts";
import { projects } from "../lib/data";
---

<Layout title="Projects" description="ushira.com">
	<main class="flex flex-col min-w-[50%]">
		<Title>Projects</Title>
		<div class="grid md:grid-cols-3 mt-8 gap-2">
			{projects.map((project) => <Project project={project} />)}
		</div>
	</main>
</Layout>
