---
import Job from "../components/Job.astro";
import Title from "../components/Title.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
import { jobs } from "../lib/data.ts";
import { border } from "../lib/utils.ts";
---

<Layout title="Work Experience" description="ushira.com">
	<main class="flex min-w-[50%] flex-col">
		<Title>Work Experience</Title>
		<WorkExperience />
		{
			jobs.map((job, index) => (
				<div class={`${border(index, jobs.length)} border-dashed border-muted py-8`}>
					<Job job={job} />
				</div>
			))
		}
	</main>
</Layout>
