---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Job from "../components/Job.astro";
import { border } from "../lib/utils.ts";

export type Job = {
	company: string;
	href: string;
	designation: string;
	period: string;
	points: string[];
};

const jobs: Job[] = [
	{
		company: "Surge Global",
		href: "https://surge.global",
		designation: "Associate Software Engineer",
		period: "September 2023 - Present",
		points: [
			"Played a pivotal role in transitioning the existing infrastructure of the Hello Tiger dating app to an AWS EKS Kubernetes cluster, utilizing Terraform for efficient infrastructure management, resulting in a significant improvement in system scalability and cost	efficiency.",
			"Contributed to the design of the infrastructure, ensuring it aligned with specific project requirements, optimizing performance,	and reliability.",
			"Implemented a comprehensive suite of monitoring and observability tools, including Istio, Prometheus, Grafana, Kiali, and Jaeger,	to enable real-time system tracking and tracing, ensuring a smooth and reliable user experience.",
			"Managed and maintained database solutions efficiently by integrating ElasticSearch and the PostgreSQL operator for self-hosted databases, enhancing data control and scalability.",
			"Introduced GitOps practices using ArgoCD and Helm charts to automate deployment processes, guaranteeing consistency and efficiency	in managing infrastructure and applications on the AWS EKS Kubernetes cluster.",
		],
	},
	{
		company: "Surge Global",
		href: "https://surge.global",
		designation: "Software Engineering Intern",
		period: "March 2023 - August 2023",
		points: [
			"Enhanced the StudyRooms online tuition platform by improving the UI, and implementing OTP verifications through SNS.",
			"Played a pivotal role in migrating StudyRooms to AWS EKS Kubernetes using Terraform, significantly enhancing scalability and cost	efficiency.",
			"Implemented a real-time monitoring and tracing system using Prometheus, Grafana, Kiali, and Jaeger for enhanced system	observability.",
			"Utilized a self-hosted approach with Elasticsearch, MongoDB Ops Manager, and the PostgreSQL operator for efficient data management,	scaling, and cost reduction.",
			"Led an individual project, SubM, a Subscription Management Platform, which involved a diverse skill set in technologies like React Native, NextJS, TypeScript, and Terraform.",
			"Gained experience in full-stack development, DevOps, and various technologies such as Kubernetes, AWS, Docker, GraphQL, and more	during the internship.",
		],
	},
];
---

<Layout title="Ushira Dineth" description="Portfolio by Ushira Dineth">
	<main class="flex flex-col min-w-[50%]">
		<Title>Work</Title>
		{
			jobs.map((job, index) => (
				<div class={`${border(index, jobs.length)} border-muted border-dashed py-8`}>
					<Job job={job} />
				</div>
			))
		}
	</main>
</Layout>
