---
import Job from "../components/Job.astro";
import Title from "../components/Title.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
import { jobs } from "../lib/data.ts";
import { border } from "../lib/utils.ts";
---

<Layout title="Work Experience" description="ushira.com">
	<div class="flex gap-2 items-center justify-between">
		<Title class="flex flex-col">Work Experience</Title>
		<WorkExperience />
	</div>
	{
		jobs.map((job, index) => (
			<div class={`${border(index, jobs.length)} border-muted pb-8`}>
				<Job job={job} />
			</div>
		))
	}
</Layout>
