---
import type { Blog } from "../lib/types";
import { formatDate } from "../lib/utils";
import Badge from "./Badge.astro";

interface Props {
	blog: Blog;
	class?: string;
}

const { blog, class: className } = Astro.props;
---

<a href={blog.link ?? "javascript:;"} target={blog.link && blog.link.startsWith("http") ? "_blank" : "_self"} class={className}>
	<div class="flex w-full flex-col gap-4 rounded-lg py-4 sm:gap-2">
		<div class="flex">
			<div class="flex w-full flex-col items-start justify-start gap-2 font-semibold sm:flex-row">
				<h2 class="flex h-full w-fit gap-2 sm:max-w-[70%]">
					{blog.title}
				</h2>
				<span class="flex gap-2 sm:ml-auto">
					<p class="w-fit text-right text-muted">
						{blog.date ? formatDate(blog.date) : "Coming Soon"}
					</p>
					<p>{blog.link ? <p class="text-green-500 sm:block">•</p> : <p class="text-yellow-500 sm:block">•</p>}</p>
				</span>
			</div>
		</div>

		<div slot="badges" class="flex flex-wrap items-center justify-start gap-1">
			{blog.tags.map((tag) => <Badge>{tag}</Badge>)}
		</div>
	</div>
</a>
