---
import type { Blog } from "../lib/types.ts";
import { formatDate } from "../lib/utils.ts";
import Badge from "./Badge.astro";

interface Props {
	blog: Blog;
}

const { blog } = Astro.props;
---

<a href={blog.link ?? "javascript:;"} target={blog.link ? "_blank" : "_self"} class="group">
	<div
		class="flex w-full flex-col gap-4 rounded-lg border-2 border-transparent border-opacity-0 py-4 group-hover:border-border group-hover:border-opacity-100 sm:gap-2 p-2">
		<div class="flex">
			<div class="flex w-full flex-col items-start justify-start gap-2 font-semibold sm:flex-row">
				<h2 class="flex h-full w-fit gap-2 sm:max-w-[70%]">
					{blog.title}
				</h2>
				<span class="flex gap-2 sm:ml-auto">
					<p class="w-fit text-right text-muted">
						{blog.date ? formatDate(blog.date) : "Coming Soon"}
					</p>
					<p>{blog.link ? <p class=" text-green-500 sm:block">•</p> : <p class=" text-yellow-500 sm:block">•</p>}</p>
				</span>
			</div>
		</div>

		<div slot="badges" class="flex flex-wrap items-center justify-start gap-1">
			{blog.tags.map((tag) => <Badge>{tag}</Badge>)}
		</div>
	</div>
</a>
