---
import Icon from "astro-icon";
import Badge from "./Badge.astro";

export type Blog = {
	title: string;
	tags: string[];
	link?: string;
	date?: Date;
};

interface Props {
	blog: Blog;
}

const { blog } = Astro.props;
---

<a href={blog.link ?? "javascript:;"} target={blog.link ? "_blank" : "_self"} class="group">
	<div
		class="flex flex-col gap-2 w-full border-2 border-transparent group-hover:border-border border-opacity-0 duration-500 transition-all rounded-lg group-hover:px-2 py-4 group-hover:border-opacity-100">
		<div class="flex">
			<div class="flex items-start md:items-center justify-start gap-2 font-semibold w-full">
				<p class="flex max-w-[65%] w-fit h-full gap-2">
					{blog.title}{
						blog.link && (
							<Icon class="w-5 h-5 group-hover:opacity-100 opacity-25 duration-500 transition-opacity" name="akar-icons:link-out" />
						)
					}
				</p>
				{
					!blog.link && (
						<div class="ml-auto">
							<Badge>Coming Soon</Badge>
						</div>
					)
				}
				{blog.date && <p class="ml-auto text-muted w-fit">{blog.date.toDateString()}</p>}
			</div>
		</div>

		<div slot="badges" class="flex flex-wrap items-center justify-start gap-1">
			{blog.tags.map((tag) => <Badge>{tag}</Badge>)}
		</div>
	</div>
</a>
