---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none group w-full text-secondary-foreground">
	<a href={href} class="flex w-full p-6 rounded-md bg-secondary">
		<div class="flex items-center justify-center w-full">
			<div class="flex flex-col">
				<h2 class="text-xl font-semibold">
					{title}
				</h2>
				<p class="font-light">{body}</p>
			</div>
			<div class="ml-auto transform transition-transform duration-300 group-hover:-rotate-12">&rarr;</div>
		</div>
	</a>
</li>
