---
import { Icon } from "astro-icon";
import IconLink from "./IconLink.astro";
import { SocialLinks } from "../lib/data";
---

<div class="flex flex-col w-full items-center justify-center mt-auto bg-background border-muted border-t">
	<div class="flex w-full items-center justify-center gap-2 my-2">
		<IconLink label="GitHub" href={SocialLinks.get("Github")!} target="_blank">
			<Icon name="mdi:github" />
		</IconLink>
		<IconLink label="Twitter" href={SocialLinks.get("Twitter")!} target="_blank">
			<Icon name="mdi:twitter" />
		</IconLink>
		<IconLink label="LinkedIn" href={SocialLinks.get("LinkedIn")!} target="_blank">
			<Icon name="mdi:linkedin" />
		</IconLink>
	</div>
</div>
