---
import { Icon } from "astro-icon";
import IconLink from "./IconLink.astro";
---

<div class="flex flex-col w-full items-center justify-center mt-auto border-border border-t-2">
	<div class="flex w-full items-center justify-center gap-2 my-2">
		<IconLink href="https://www.github.com/ushiradineth" target="_blank">
			<Icon name="mdi:github" />
		</IconLink>
		<IconLink href="https://www.linkedin.com/in/ushiradineth" target="_blank">
			<Icon name="mdi:linkedin" />
		</IconLink>
		<IconLink href="https://cv.ushira.com" target="_blank">
			<p class="flex items-center justify-center text-sm font-bold">CV</p>
		</IconLink>
	</div>
</div>
