---
import { Icon } from "astro-icon/components";

import { SocialLinks } from "../lib/data.ts";
import IconLink from "./IconLink.astro";
---

<div class="mt-auto flex w-full flex-col items-center justify-center border-t border-border">
	<div class="my-2 flex w-full items-center justify-center gap-2">
		<IconLink label="GitHub" href={SocialLinks.get("Github")!} target="_blank">
			<Icon name="mdi:github" />
		</IconLink>
		<IconLink label="Twitter" href={SocialLinks.get("Twitter")!} target="_blank">
			<Icon name="mdi:twitter" />
		</IconLink>
		<IconLink label="LinkedIn" href={SocialLinks.get("LinkedIn")!} target="_blank">
			<Icon name="mdi:linkedin" />
		</IconLink>
		<IconLink label="CV" href={SocialLinks.get("CV")!} target="_blank">
			<p>CV</p>
		</IconLink>
	</div>
</div>
