---
import Underline from "./Underline.astro";
const underline = "underline underline-offset-8";

interface Props {
	href: string;
	target?: string;
}

const { href, target } = Astro.props;
---

<a href={href} target={target} class={Astro.url.pathname === href ? underline : "group"}>
	<Underline>
		<slot />
	</Underline>
</a>
