---
import HeaderItem from "./HeaderItem.astro";
import Theme from "./Theme.astro";
---

<div class="flex items-center justify-center gap-4 pb-2 pt-4">
	<HeaderItem href="/">home</HeaderItem>
	<HeaderItem href="/work/">work</HeaderItem>
	<HeaderItem href="/projects/">projects</HeaderItem>
	<HeaderItem href="/blog/">blog</HeaderItem>
	<HeaderItem href="https://cv.ushira.com" target="_blank">cv</HeaderItem>
	<Theme />
</div>
