---
import HeaderItem from "./HeaderItem.astro";
import Theme from "./Theme.astro";
import Title from "./Title.astro";
import Logo from "./Logo.astro";
---

<div id="header" class="pb-16">
	<div
		class="fixed z-10 flex h-16 w-full max-w-[1080px] items-center justify-between gap-4 border-b border-border bg-background/30 p-4 backdrop-blur">
		<a href="/" target="_self">
			<Title class="hidden sm:inline">Ushira Dineth</Title>
			<Logo class="inline sm:hidden" height={32} width={32} />
		</a>
		<div class="flex items-center gap-4">
			<HeaderItem href="/work/">work</HeaderItem>
			<HeaderItem href="/projects/">projects</HeaderItem>
			<HeaderItem href="/blog/">blog</HeaderItem>
			<span class="text-muted">|</span>
			<Theme />
		</div>
	</div>
</div>
