---
import HeaderItem from "./HeaderItem.astro";
import Theme from "./Theme.astro";
import Title from "./Title.astro";
---

<div id="header" class="pb-16">
	<div class="flex fixed max-w-[1080px] w-full p-4 h-16 border-b border-border bg-background/30 backdrop-blur z-10 justify-between items-center gap-4">
		<a href="/" target="_self">
			<Title class="hidden sm:inline">Ushira Dineth</Title>
			<Title class="inline sm:hidden">UD</Title>
    </a>
		<div class="flex gap-4 items-center">
			<HeaderItem href="/work/">work</HeaderItem>
			<HeaderItem href="/projects/">projects</HeaderItem>
			<HeaderItem href="/blog/">blog</HeaderItem>
			<span class="text-muted">|</span>
			<Theme />
		</div>
	</div>
</div>
