---
interface Props {
	label: string;
	href: string;
	target?: string;
}

const { label, href, target } = Astro.props;
---

<a aria-label={label} href={href} target={target} class="flex h-6 w-6 text-primary-foreground hover:scale-110 transition-all duration-200">
	<slot />
</a>
