---
interface Props {
	href: string;
	target?: string;
}

const { href, target } = Astro.props;
---

<a href={href} target={target} class="flex h-6 w-6 text-text hover:scale-110 transition-all duration-200">
	<slot />
</a>
