---
interface Props {
	label: string;
	href: string;
	target?: string;
}

const { label, href, target } = Astro.props;
---

<a aria-label={label} href={href} target={target} class="flex text-xl font-bold transition-all duration-200 hover:scale-110">
	<slot />
</a>
