<span
	class="flex pb-1 bg-left-bottom bg-gradient-to-r from-primary-foreground to-primary-foreground bg-[length:0%_0px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-in-out">
	<slot />
</span>
