---
import { getDurationFromDate } from "../lib/utils.ts";

const startDate = new Date("2023-03-01");
const duration = getDurationFromDate(startDate);
---

<p id="duration" class="text-sm text-muted text-right">{duration}</p>

<script type="module" is:inline>
	import { updateDuration } from "../lib/utils.ts";

	const startDate = new Date("2023-03-01");

	function init() {
		updateDuration("duration", startDate);
	}

	document.addEventListener("DOMContentLoaded", init);
</script>
