---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/roboto-mono";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global>
			:root {
				--primary: #ffffff;
				--primary-foreground: #121212;
				--secondary: #121212;
				--secondary-foreground: #ffffff;
				--border: #c7c7c7;
				--muted: #5b555a;
			}

			.dark {
				--primary: #121212;
				--primary-foreground: #ffffff;
				--secondary: #ffffff;
				--secondary-foreground: #121212;
				--border: #5b555a;
				--muted: #c7c7c7;
			}
		</style>
	</head>
	<body class="flex flex-col items-center bg-primary text-primary-foreground font-light tracking-tight font-sans">
		<main class="flex flex-col p-4 md:gap-8 gap-4 h-screen max-w-[1024px]">
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>
